html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Primery index.html */

.list-link {
  font-size: 20px;
  font-weight: 700;
}

.list-link li {
  margin-bottom: 20px;
}

.back {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Chatty event */

.js-coords {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

h1 {
  margin-bottom: 30px;
}

.input input {
  margin-bottom: 20px;
  width: 250px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
}

.input p {
  font-size: 30px;
  font-weight: 900;
}

/* io */

.box {
  height: 500px;
  font-size: 150px;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 150px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.darkcyan {
  background-color: darkcyan;
}

/* Lazy load */

.forest {
  list-style: none;
}

.forest img,
.forest p {
  margin-bottom: 30px;
}

.forest p {
  font-size: 20px;
  line-height: 1.3;
}
